server:
  port:8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:3306/postgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: uzbekistan_uzbekistan_0123456789_uzbekistan
  access_time: 900000
  refresh_time: 604800000